<style>
  img {
    max-width: 150px;
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    align: center;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    text-align: center;
  }
</style>

<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <h1>Memes</h1>
  </div>
    {% for meme_id, meme in memes.items %}
      <div class="card">
        <img src="{{meme.icon_url}}">
        <div class="container">
          <p>{{meme.value}}</p>
        </div>
      </div>
    {% endfor %}
</div>